@charset "utf-8";

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.no-display {
    display: none;
}

.hand {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: .4em;
    height: .4em;
}
  
::-webkit-scrollbar-track {
    background: transparent; 
}
   
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #888; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.body {
    overflow: hidden;
}

.html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.html {
    overflow: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.app {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    overflow: hidden;
}

.db-collapse {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
}

.fill {
    max-height: 100% !important;
    height: 100% !important;
    flex: 1 !important;
}

.rows-fill {
    max-height: 100%;
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
}

.view-table {
    min-height: 20%;
}

.query-box {
    min-height: 20% !important;
    max-height: 80% !important;
    position: relative;
}

.query-text, .query-code {
    border: 0;
    min-height: 10% !important;
    position: absolute !important;
    top: 0;
    left: 0;
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
    overflow: auto;
    white-space: nowrap;
}

.query-text {
    color: transparent !important;
    background: transparent !important;
    z-index: 1 !important;
    caret-color: black;
}

.query-code {
    z-index: 0;
}

.split-dragger {
    margin: 0 10px 0 10px;
    margin-top: 10px;
    border: #eaecef solid 3px;
    border-radius: 10px;
    cursor: ns-resize;
}

.scrollable {
    overflow-x: hidden;
    overflow-y: scroll;
}

.scrollable-all {
    overflow-x: auto;
    overflow-y: auto;
}

.hide-overflow {
    overflow: hidden;
}

.float-right {
    float: right;
}